html {
    font-size: 10px;
}

body header {
    width: 100%;
    height: 150px;
    background: #15bba4;
    border-bottom: 8px solid #000;
    box-sizing: inherit;
    padding: 20px 0;
    text-align: center;
}



body header h3 {
    font-size: 3.5rem;
    color: #f9ff00;
    margin: 2rem 0;
    text-shadow:
		1px 1px 3px black,
        /* 疊加 */
        4px 4px 2px black 
        
}

body header div p {
    font-size: 2rem;
    font-weight: 700;
    color: #181818;
}

body main {
    width: 100%;
    min-height: 50rem;
    background: #efefef;
    display: flex;
    justify-content: center;
}

body main section {
    width: 80%;
    background: #FFF;
    box-sizing: border-box;
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-around;
}

body main section div.imgKa {
    width: 25rem;
    margin: 2rem 0;
    padding: 2rem;
    box-shadow: 3px 5px 14px 0px rgba(20, 20, 20, 0.80);
}

body main section div h4 {
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

body main section div img {
    width: 100%;
}

body footer {
    width: 100%;
    min-height: 10rem;
    background: #000000ff;
    display: flex;
    justify-content: center;
    align-items: center;

}

body footer p {
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}